[user]
	name = Danny Bozbay
	email = 107803920+dbozbay@users.noreply.github.com
	username = dbozbay
[init]
	defaultBranch = main
[pull]
	rebase = true
[checkout]
	defaultRemote = origin
[core]
	editor = nvim --clean
	excludesfile = ~/.gitignore_global
[alias]
	st = status
	cm = commit -m
	p = push
	pretty = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
